.p-login-page-wrapper {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.75em;
}

.sign-up-link {
    user-select: none;
    
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}

.sign-up-link a {
    cursor: pointer;
    
    text-decoration: none;

    color: var(--link-color);
    font-weight: bold;
}