@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.p-loading-spinner-wrapper {
    width: 300px;
    height: 100px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.left {
    transform: scaleY(0.5);

    height: 100%;
    width: 20px;

    background-color: var(--accent-color);
    border-radius: 100pt;

    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    transition: 300ms;
}

.center {
    transform: scaleY(0.5);

    height: 100%;
    width: 20px;

    background-color: var(--accent-color);
    border-radius: 100pt;

    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 250ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    transition: 300ms;
}

.right {
    transform: scaleY(0.5);

    height: 100%;
    width: 20px;

    background-color: var(--accent-color);
    border-radius: 100pt;

    animation-name: loading;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    transition: 300ms;
}

/* ANIMATION */
@keyframes loading {
    0% {
        transform: scaleY(0.5);
    }

    50% {
        box-shadow: 0px 5px 25px rgb(from var(--accent-color) r g b / 0.5);
        filter: brightness(120%);
    }

    100% {
        transform: scaleY(1);
    }
}

/* ERROR HANDLING */
.error-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.sorry {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: bold;
}

.error-message {
    color: var(--text-color);
    font-size: 1.2em;
}

.error-detail {
    color: var(--tertiary-color);
    font-size: 1em;
}

/* SUCCESS HANDLING */
.success-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.success-icon {
    color: var(--success-color);
    font-size: 64px;
}

.success-message {
    color: var(--text-color);
    font-size: 1.2em;
}

.success-detail {
    color: var(--tertiary-color);
    font-size: 1em;
}