@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');

.p-plan-carousel-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5em;

  width: 100%;
  height: fit-content;

  transition: 300ms;
}

.card-wrapper {
  filter: blur(2px);
  transition: 300ms;
}

/* STATES */
.selected-card {
  filter: blur(0px);
  transform: translateY(-2em);
  z-index: 10;
}

/* Left to selected */
.card-wrapper:has(+ .card-wrapper.selected-card) {
  transform: rotate(-2.5deg) translate(2em, 10px);
}

/* Right to selected */
.card-wrapper.selected-card + .card-wrapper {
  transform: rotate(2.5deg) translate(-2em, 10px);
}


