@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

/* WRAPPER */
.p-select-input-wrapper {
    position: relative;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
}

/* LABEL */
.label {
    padding-left: 1em;
    box-sizing: border-box;

    color: var(--text-color);
    font-size: 14px;
    font-weight: bold;
}

/* INPUT */
.input {
    padding: 0.5em;
    padding-inline: 1.5em;
    box-sizing: border-box;

    width: 100%;
    height: 50px;

    border: 2px solid var(--tertiary-color);
    border-radius: 10pt;

    outline-color: var(--accent-color);

    text-overflow: ellipsis;

    transition: 300ms;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select {
    border: none;
}

.is-invalid .input {
    outline-color: var(--error-color);
}

/* PLACEHOLDER */
.input::placeholder {           
    color: var(--tertiary-color);
}

/* ERROR */
.is-invalid .input {
    border-color: var(--error-color);
}